#u75
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

#u95
{
	border-color: #232222;
	background-color: #000000;
	position: relative;
}

#u95:hover
{
	background-color: #212121;
}

#u95:active
{
	background-color: #FFFFFF;
}

#u97-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 5px;
	font-size: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	position: relative;
}

#u95:active #u97-4 p
{
	color: #000000;
	visibility: inherit;
}

#menuu93,#u94,#u118
{
	position: relative;
}

#u119
{
	border-color: #232222;
	background-color: #000000;
	position: relative;
}

#u119:hover
{
	background-color: #212121;
}

#u119:active
{
	background-color: #FFFFFF;
}

#u95.MuseMenuActive,#u119.MuseMenuActive
{
	background-color: #000000;
}

#u122-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 5px;
	font-size: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u119:active #u122-4 p
{
	color: #000000;
	visibility: inherit;
}

#u95.MuseMenuActive #u97-4 p,#u119.MuseMenuActive #u122-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

